<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h1>Signup</h1>
<div id="error" th:text="${error}"></div>
<form action="#" th:action="@{/signup}" th:object="${user}" th:method="post" method="POST">
    <label>
        Username:
        <input name="username" th:field="*{username}">
    </label>
    <label>
        Password:
        <input name="password" th:field="*{password}">
    </label>
    <button type="submit">Submit</button>
</form>
<a th:href="@{/login}">Login</a>
</body>
</html>